APP_NAME=Inventory API
APP_ENV=development
DEBUG=true
LOG_LEVEL=INFO
API_V1_PREFIX=/api
DATABASE_URL=postgresql+psycopg://inventory:inventory@postgres:5432/inventory
CELERY_CONCURRENCY=10
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
POSTGRES_DB=inventory
POSTGRES_USER=inventory
POSTGRES_PASSWORD=inventory
